
/* HOME PAGE STARTS */

html, body {
  font-family: "Montserrat", sans-serif !important;
  
}

/* NAV-SECTION STARTS */

#mobile-nav{
    display: none;
}

#desktop-nav{
    padding: 0px 50px;  
}

nav{
    background-color: white;
}

.navbar-brand img{
    width: 100%;
    height: 50px;
}

.navigation-wrapper{
    display: flex;
}

.navigation-wrapper form{
    position: relative;
    padding-right: 20px;
}

.navigation-wrapper form input{
    background-color: #ccc;
    border: none;
    color: whitesmoke;
    padding: 5px 0px 5px 35px;
    width: 150px;
    border-radius: 15px;
}

.navigation-wrapper form i{
    position: absolute;
    left: 5px;
    top: 7px;
    font-size: 19px;
    padding-left: 5px;
}

.navigation-wrapper div i{
    font-size: 23px;
    padding: 5px 7px;
}

.bar-wrapper{
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: none;
  
}

.bar1, .bar2, .bar3 {
    width: 32px;
    height: 3px;
    background-color: #333;
    margin: 3px 0px;
    transition: 0.5s;
}

.change .bar1 {
    transform: translate(0,6px) rotate(-45deg);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    transform: translate(0,-6px) rotate(45deg);
}

#collapsibleNavbar{
    padding-top: 15px;
}

/* NAV-SECTION ENDS */

p{
    font-size: 19px;
    color: #333;
}

.row{
    width: 100%;
    overflow-x: hidden;
}

/* HERO SECTION STARTS */

.hero-section{
    padding: 170px 40px 150px 50px;
    background-image: url(../IMAGES/hero-bg1.jpg);
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: right;
    background-color: rgb(14, 13, 13);
    position: relative;
}

.bgoverlay{ 
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(0, 0, 0,0.2);
  z-index: 1;

}

.hero-content{
    position: relative;
    z-index: 4;
    color: white;
    padding-top: 50px;
}

.hero-section div h3{
    padding: 15px 0px;
    font-size: 35px;
    font-weight: 600;
}

.hero-section div p{
    font-size: 19px;
    padding-bottom: 35px;
    color: white;
}

.cta-btn{
    width: 190px;
    height: 45px;
    border: none;
    background-color: white;
    color: black;
    border-radius: 5px;
}

.hero-img img{
    width: 100%;
}

/* HERO SECTION ENDS */

/* PRODUCT SECTION STARTS */

.product-section{
    padding: 60px 80px;
}

.product-intro{
    padding: 50px 0px;
}

.productFilter-btn{
    width: 165px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: #ccc;
    font-weight: 500;
    color: black;
}

.productFilter-btn.active{
    background-color: black;
    color: white;
}

.product-intro h3{
    padding: 20px 0px;
}

.product-filterContent{
    display: none;
}

.product-List div img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-List h5{
    padding: 10px 0px;
    font-size: 18px;
    font-weight: 600;
}

.product-List h6{
    font-weight: 600;
}

.view-all{
    text-align: center;
    justify-content: center;
    padding: 40px 0px 30px 0px;
}

.view-all a{
    background-color: #ccc;
    padding: 10px 35px;
    border-radius: 5px;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.view-all a:hover{
    background-color: whitesmoke;
}

/* PRODUCT SECTION ENDS */

/* COLLECTION SECTION STARTS */

.collection-section{
    padding: 40px 120px;
}

.collection-image{
     padding: 50px 30px 50px 0px;
}

.collection-image img{
    width: 100%;
    height: auto;
    border-radius: 10px;   
}

.collection-info p:first-child{
    padding-top: 120px;
}

.collection-info p{
    text-align: justify;
}

.collection-info h5{
    padding: 15px 0px;
    font-weight: 600;
}

.collection-info a{
    display: inline-block;
    width: 200px;
    height: 45px;
    border: none;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    color: white;
    background-color: black;
    margin-top: 40px;
}

/* COLLECTION SECTION ENDS  */

/* BEST SELLER SECTION STARTS */

.bestSeller-section{
    padding: 30px 80px;
}

.bestSeller-image img{
   width: 100%;
   height: auto;
   border-radius: 10px;
}



/* BEST SELLER SECTION ENDS */

/* HOME ENDS */





@media screen and (max-width : 778px) {


    /* HOME PAGE */

    /* NAV SECTION */

    #desktop-nav{
        display: none;
    }

    #mobile-nav{
        display: inherit;
    }

    .mobileIcons i{
        font-size: 19px;   
    }

    .mobileIcons{
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
      
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 4px;
    }

    .mobileIcons:hover{
        background-color: #ccc;
    }

    /* NAV SECTION */

    /* HERO SECTION */

    .hero-section{
    padding: 70px 30px 90px 30px;
    }

    .hero-section div p{
        font-size: 17px;
    }

    .hero-section div h3{
        font-size: 30px;
    }
    
    .cta-btn{
        margin-bottom: 15px;
    }

    /* HERO SECTION */

    /* PRODUCT SECTION */

    .product-section{
        padding: 40px 20px;
    }

    .productFilter-btn-wrapper{
        columns: 2;  
    }

    .productFilter-btn{
        margin-bottom: 15px;
    }

    .product-List h5{
        font-size: 15px;
    }

    /* PRODUCT SECTION */

    /* COLLECTION SECTION */

    .collection-section{
        padding: 40px 20px;
    }

    .collection-image{
     padding: 30px 0px 0px 0px;
    }

    .collection-info p:first-child{
    padding-top: 20px;
    }


    /* COLLECTION SECTION */

    /*  */

    .bestSeller-section{
        padding: 40px 20px;
    }
    

    /*  */

    /* HOME PAGE */

}



